<p>
  filters
</p>


<ng-multiselect-dropdown [placeholder]="'gender'" [data]="filtration.filter.gender"
  [(ngModel)]="filtration.selectedFilter.gender" [settings]="dropdownSettings"
  (onSelect)="onFilterSelect($event, 'gender')" (onSelectAll)="onFilterSelectAll($event, 'gender')">
</ng-multiselect-dropdown>

<br>

<ng-multiselect-dropdown [placeholder]="'music'" [data]="filtration.filter.music"
  [(ngModel)]="filtration.selectedFilter.music" [settings]="dropdownSettings"
  (onSelect)="onFilterSelect($event, 'music')" (onSelectAll)="onFilterSelectAll($event, 'music')">
</ng-multiselect-dropdown>

<br>

<ng-multiselect-dropdown [placeholder]="'film'" [data]="filtration.filter.film"
  [(ngModel)]="filtration.selectedFilter.film" [settings]="dropdownSettings" (onSelect)="onFilterSelect($event, 'film')"
  (onSelectAll)="onFilterSelectAll($event, 'film')">
</ng-multiselect-dropdown>

<br>

<div> Data
  <div *ngFor="let user of users">
    {{user | json}}
  </div>
</div>