<p>
  filters
</p>


<div>
  Filtration type : {{ filtrationtype }}
  <br>
  <button (click)="onChangeFiltrationType()"> Change Filtration Type </button>
</div>

<br>

<ng-multiselect-dropdown [placeholder]="'gender'" [data]="filtration.filter.gender"
  [(ngModel)]="filtration.selectedFilter.gender" [settings]="dropdownSettings"
  (onSelect)="onFilterChange($event)" (onDeSelect)="onFilterChange($event)" 
  >
</ng-multiselect-dropdown>

<br>

<ng-multiselect-dropdown [placeholder]="'music'" [data]="filtration.filter.music"
  [(ngModel)]="filtration.selectedFilter.music" [settings]="dropdownSettings"
  (onSelect)="onFilterChange($event)" (onDeSelect)="onFilterChange($event)" 
  >
</ng-multiselect-dropdown>

<br>

<ng-multiselect-dropdown [placeholder]="'film'" [data]="filtration.filter.film"
  [(ngModel)]="filtration.selectedFilter.film" [settings]="dropdownSettings" 
  (onSelect)="onFilterChange($event)" (onDeSelect)="onFilterChange($event)" 
  >
</ng-multiselect-dropdown>

<br>

<div> Data
  <div *ngFor="let user of filtredUsers">
    {{user | json}}
  </div>
</div>